<h2>Categorize Auction</h2>


<label>Find Releases</label>
<form name="search" action="<%= releases_search_path %>" method="get">
  <input name="q" id="release-finder" value=""/>
</form>

<script type="text/javascript">
    $(document).ready(function() {
        EbayItem.init("<%=@ebay_item.id%>", "<%= form_authenticity_token %>");
        new AutoCompleter("release-finder", "/releases/search", "release", EbayItem.categorize);
    });
</script>

<%= link_to 'View Auction', @ebay_item %>