<div class="container">
    <h3><%= @ebay_items.length %> Latest Vinyl Results</h3>

    <ul>
        <% @ebay_items.each do |ebay_item| %>
            <li class="recordItem">
                <%= render :partial=> "partials/ebay_item_abbrv", :locals => { :ebay_item => ebay_item } %>
            </li>
            <hr/>
        <% end %>
    </ul>
</div>