%h3
  Recent Commented Items
%ul.ebay-items
  = render :partial => "partials/ebay_item_abbrv", :collection => @comments.map(&:parent), :as => :ebay_item
= will_paginate @comments, :previous_label => "< Prev", :next_label => "Next >"
