<div class="container">


    <h3><%= @records.length %> Vinyl Search Results</h3>

    <ul>
        <% @records.each do |record| %>
            <li class="recordItem">
                <%= render :partial=> "partials/record", :locals => { :record => record } %>
            </li>
        <% end %>
    </ul>
    <br/>

    <span class="new"><%= link_to '* New Record', new_record_path %></span>
</div>
