<div class="container">
  <div>
    <%= render :partial => "partials/list_header", :locals => {:base_url => base_url, :header_text => header_text} %>
    <hr/>
    <ul class="ebay-items">
      <% @ebay_items.each do |ebay_item| %>
          <%= render :partial=> "partials/ebay_item_abbrv", :locals => {:ebay_item => ebay_item} %>
      <% end %>
    </ul>
    <hr/>
    <%= render :partial => "partials/paginated_links", :locals => {
            :base_url => base_url,
            :sort => @sort_param, :order => @order_param,
            :next_link => @page_results ? @page_results.next_page_num : nil,
            :prev_link => @page_results ? @page_results.prev_page_num : nil} %>
  </div>
</div>