<div class="container">
    <h3><%= header_text %></h3>
    <%= render :partial => "partials/paginated_links", :locals => { :base_url => base_url, :next_link => @next, :prev_link => @prev } %>
    <ul>
        <% @ebay_items.each do |ebay_item| %>
            <li class="recordItem">
                <%= render :partial=> "partials/ebay_item_abbrv", :locals => { :ebay_item => ebay_item } %>
            </li>
            <hr/>
        <% end %>
    </ul>
    <%= render :partial => "partials/paginated_links", :locals => { :base_url => base_url, :next_link => @next, :prev_link => @prev } %>
</div>