<div class="header">
  <div class="logo-container"><div class="logo">Roots Vinyl Guide</div></div>
  <div class="nav">
    <div class="auction-menu">
      <ul>
        <li><a href="/">HOME</a></li>
        <li class="more">
          <span><a href="/all?page=1">AUCTIONS</a></span>
          <ul>
            <li><%= link_to 'ALL', all_path %></li>
            <li><a href="/lps?page=1">LPS</a></li>
            <li><a href="/eps?page=1">EPS</a></li>
            <li><a href="/singles?page=1">SINGLES</a></li>
            <li><a href="/other?page=1">OTHER</a></li>
          </ul>
        </li>
        <li><%= link_to 'RELEASES', releases_path %></li>
        <li><%= link_to 'LABELS', labels_path %></li>
        <li><a href="/about/welcome">ABOUT</a></li>
      </ul>
      <div class="search-form">
        <form name="search" action="/search" method="get">
          <input type="text" name="q" id="q" value=""/>
          <input type="submit" value="SEARCH"/>
        </form>
      </div>

      <script type="text/javascript">
//          $(document).ready(function() {
//              new AutoCompleter("q", "<%= search_path %>", "ebay_item");
//          });
      </script>

    </div>
  </div>
</div>