<div class="header">
    <div class="logo">Roots Vinyl Guide</div>
    <div class="nav">
        <div>
            <a href="/records">HOME</a>
            <a href="/index">INDEX</a>
        </div>
    </div>
</div>