<div class="header">
    <div class="logo">Roots Vinyl Guide</div>
    <div class="nav">
        <div>
            <a href="/">HOME</a>
            <a href="/index">INDEX</a>

            <form name="search" action="/search" method="get">
                <input name="query" value=""/>
                <input type="submit" value="SEARCH"/>
            </form>
        </div>
    </div>
</div>