<% num_per_row ||= 5 %>
<% unless ebay_items.empty? %>
    <% ebay_items.each_with_index do |ebay_item, i| %>
        <%= render :partial => "ebay_items/small_ebay_item", :locals => {:ebay_item => ebay_item} %>
        <% if (i+1) % num_per_row == 0 %>
            <div class="clearfix"></div>
        <% end %>
    <% end %>
<% else %>
    <p>No auctions found...</p>
<% end %>