<% unless ebay_items.empty? %>
<% ebay_items.each do |ebay_item| %>
    <div class="small-auction">
      <% link_to "/#{ebay_item.id}" do %>
          <img src="<%= display_gallery_img(ebay_item.id, ebay_item.hasimage) %>"/>
      <% end %>
      <p><%= h(truncate(ebay_item.title, :length => 40)) %></p>
      <p><%= number_to_currency ebay_item.price, :unit => display_currency_symbol(ebay_item.currencytype) %> <%= ebay_item.currencytype %></p>
    </div>
<% end %>
<% else %>
    <p>No auctions found...</p>
<% end %>