<% if @sortable_base_url %>
    <th class="align-right">
      <span id='time'>
          <form id="time-form" action="<%= url_for %>" method="GET">
            <select name="time">
              <option value=""></option>
              <option value="week">This Day</option>
              <option value="week">This Week</option>
              <option value="month">This Month</option>
            </select>
          </form>
      </span>
      <span id='endtime'><%= sort_link('END TIME', 'endtime', @parsed_params) %></span>
      <span id='price'><%= sort_link('PRICE', 'price', @parsed_params) %></span>
      <span id='title'> <%= sort_link('TITLE', 'title', @parsed_params) %></span>
    </th>
<% end %>