<th class="align-right">
  <span id='endtime'><%= sort_link('END TIME', 'endtime', @parsed_params) %></span>
  <span id='price'><%= sort_link('PRICE', 'price', @parsed_params) %></span>
  <span id='title'> <%= sort_link('TITLE', 'title', @parsed_params) %></span>
</th>