body {
    color: #990000;
    font-family: Courier, sans-serif;
    font-size: 16px;
    text-align: left;
    margin: 8px;
}

h1 {
    display: inline;
}

h2 {
    font-size: 20px;
    color: #990000;
}

h3 {
    color: #006600;
    font-size: 20px;
}

img {
    padding: 2px;
    border: 0
}

label {
    font-weight: bold;
}

input, select {
    font-family: Courier, sans-serif;
    font-size: 16px;
    border: 2px solid #006600;
}

.controls a:link {
    color: #006600;
    text-decoration: none;
}

.controls a:visited {
    color: #006600;
    text-decoration: none;
}

.controls a:hover {
    color: #006600;
    text-decoration: underline;
}

.controls a:active {
    color: #006600;
    text-decoration: none;
}

a:link {
    color: #006600;
    text-decoration: none;
    font-size: 16px;
}

a:visited {
    color: #006600;
    text-decoration: none;
    font-size: 16px;
    font-weight: normal;
}

a:hover {
    color: #006600;
    text-decoration: underline;
    font-size: 16px;
}

a:active {
    color: #006600;
    text-decoration: none;
    font-size: 16px;
}

.controls {
    color: #006600;
}

.button {
    color: #990000;
    background: #FF9900;
}

.buttonHover {
    color: #FF9900;
    background: #990000;
}

.recordItem {
    margin: 2px;
    list-style: none;
}

.container {
    width: 1200px;
    margin: 10px;
}

.container ul {
    padding: 0;
}

.container hr {
    margin-left: 0;
    height: 3px;
    background-color: #006600;
    color: #990000;
    border: 0;
    width: 1200px;
}

.header {
    margin-top: 0;
    padding: 0;
    width: 1200px;
    height: 45px;
    background-color: #FF9900;
}

.nav {
    float: right;
    left: 278px;
    width: 922px;
    height: 100%;
    background-color: #006600;
    font-size: 20px;
}

.nav form {
    display: inline;
    width: 100px;
}

.nav input {
    display: inline;
    font-size: 20px;
}

.search, .nav input[type=submit] {
    background-color: #FF9900;
    color: #990000;
    font-weight: normal;
    padding: 1px 6px;
}

.nav div {
    margin-left: 7px;
    margin-top: 12px;
}

.navLink a:link, .nav a:link {
    color: #FF9900;
    text-decoration: none;
    font-size: 20px;
}

.navLink a:visited, .nav a:visited {
    color: #FF9900;
    text-decoration: none;
    font-size: 20px;
}

.navLink a:hover, .nav a:hover {
    color: #FF9900;
    text-decoration: underline;
    font-size: 20px;
}

.navLink a:active, .nav a:active {
    color: #FF9900;
    text-decoration: none;
    font-size: 20px;
}

.navBgcolor {
    background-color: #006600;
}

.logo {
    font-weight: bold;
    margin-top: 8px;
    margin-left: 12px;
    float: left;
    width: 255px;
    height: 100%;
    font-size: 25px;
}

.footer {
    background-color: #FF9900;
    width: 1200px;
    height: 45px;
}

.footer div {
    margin-top: 8px;
    margin-left: 12px;
}

.abbrvItem {
    border: 0;
    border-spacing: 2px 0px
}

.abbrbItem td {
    padding: 0;
}

.pad {
    padding: 2px;
}

.padBtn {
    padding: 2px 8px;
}