<div class="container">

    <label>Welcome:</label>

    <label>
      About the site:
    </label>

    <p>
      This site is dedicated to the tracking of Reggae and Ska EBay record auctions. It automatically adds results of finished
      Ebay auctions from specific EBay categories. Only auctions that have received at least one bid will be tracked. I believe that one bid
      is a reasonable sign that the item may have sold at a certain price. This site was created out of a love for roots reggae and dub music.
    </p>
    <label>
      Technical Challenges:
    </label>

    <p>
      Automated auction tracking can only take the site so far. Due to constant variance and miscategorization of
      auctions by sellers, similarity comparisons are hard to generate. Even if EBay tightened up their record auction item
      attributes (record size, record speed, etc.) there would still be the possibility of the seller's lack of
      understanding or simple human error. I plan to help alleviate this problem by community driven, manual
      categorization of auction results.
    </p>

  <label>
    Thanks and Praise:
  </label>
    <p>
      Many thanks to all the I-Drens who visit the site regularly and special thanks to anyone who wants to help.
      Praises!
    </p>

    <p>
      <img src="/images/magical_chicken_sm.jpg" alt="magical chicken"/>
      Jah Chicken
    </p>
</div>